*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.pytest_cache
__pycache__
tests/__pycache__
tests/helpers/__pycache__
tests/screens/__pycache__
tests/testcases/__pycache__